<% if owner_signed_in? %>
<br>
<div class ="row">
  <div class="large-12 columns">
    <div class="row">
      <% @pets.each do |pet| %>
        <div class="small-6 small-centered columns pull-left">
          <%= image_tag(pet.profile_photo) %>
            <p class="text-center"><%= link_to pet.name, pet_path(pet.id) %>
            </p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<br>

  <div class="row">
    <% @pets.each do |pet| %>
      <div class="button-left">
        <div style="font-size: 42px">
        <%= link_to pets_path do %>
          <i class="fi-paw"></i>
        </div>
          <%= "Pass" %>
        <% end %>
      </div>
      <div class="button-right">
        <div style="font-size: 36px">
        <%= link_to pet_friendships_path(pet), method: :post do %>
          <i class="fi-heart"></i>
        </div>
          <%= "Friend" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<br>
<br>

<p class="text-center">
<%= link_to 'Create Pet Profile!', new_pet_path %>
</p>

<% else %>
<div class="row">
<div class="large-12 columns">
  <div class="row">
    <img alt="dog park" src="/assets/UFhRrA1405908334.jpg">
  </div>
<% end %>




