<h1>New Pet Profile</h1>

<%= simple_form_for @pet do |f| %>
  <%= f.input :name, required: true, label: "Pet Name:"  %>
  <!-- <%= f.label :img, "Image" %> -->
  <!-- <%= f.file_field :img, required: true,  label: "Image" %>
  -->
  <%= f.input :breed, required: true, label: "Breed:" %>
  <!-- will be PetFinder API dropdown for breeds -->
  <%= f.input :age, required: true %>
  <%= f.input :weight, required: true %>
  <%= f.input :personality, as: :text %>
  <%= f.input :favorite_things, as: :text %>
  <%= f.button :submit %>
<% end %>



