<h2 class ="text-center"><%= @pet.name %></h2>
<div class ="row text-center beard">
  <%= image_tag(@pet.profile_photo.url(:thumb)) %><br>
  <%= @pet.breed %><br>
  <%= @pet.age %> yrs old<br>
  <%= @pet.weight %> lbs

</div><br>

<div class = "text-center description">
  <%= @pet.personality %><%= @pet.favorite_things %>
</div><br>
<hr>

<p class = "text-center go_back">
  <%= link_to "Go Back to Pets", pets_path %>
</p>

<% if owner_signed_in? %>
<p class = "text-center go_back">
  <%= link_to "Edit Pet", edit_pet_path(@pet) %>
</p>
<% end %>

