<%# add navigation links to this file %>

<nav class="top-bar-section">
  <% if owner_signed_in? %>
    <ul class ="title-area">
      <li class="name"><%= link_to 'Edit profile', edit_owner_registration_path %></li>
      <li class="name"><%= link_to 'Puppy Pals', friendships_path %></li>
      <li class="name"><%= link_to 'Messages', message_path(current_owner) %></li>
      <li class="name"><%= link_to 'Sign out', destroy_owner_session_path %></li>
    </ul>
  <% else %>
    <ul class ="title-area">
      <li class="name"><%= link_to 'Sign in', new_owner_session_path %></li>
      <li class="name"><%= link_to 'Sign up', new_owner_registration_path %></li>
    </ul>
  <% end %>










